/* ET Book — Edward Tufte's book typeface */
@font-face {
	font-family: "ET Book";
	src: url("/assets/fonts/et-book/et-book-roman-line-figures.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "ET Book";
	src: url("/assets/fonts/et-book/et-book-semi-bold-old-style-figures.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "ET Book";
	src: url("/assets/fonts/et-book/et-book-bold-line-figures.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "ET Book";
	src: url("/assets/fonts/et-book/et-book-display-italic-old-style-figures.woff") format("woff");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Atlas Grotesk";
	src: url("/assets/fonts/atlas/AtlasGrotesk-Regular-Web.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "Atlas Grotesk";
	src: url("/assets/fonts/atlas/AtlasGrotesk-Bold-Web.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "Atlas Typewriter";
	src: url("/assets/fonts/atlas/AtlasTypewriter-Medium-Web.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "Baskerville";
	src: url("/assets/fonts/baskerville/Baskervville-Regular.ttf") format("TrueType");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "Baskerville";
	src: url("/assets/fonts/baskerville/Baskervville-SemiBold.ttf") format("TrueType");
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "Baskerville";
	src: url("/assets/fonts/baskerville/Baskervville-Bold.ttf") format("TrueType");
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

